/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.three-one {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-basis: 250px;
}

/*.three-two {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*}*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-5 {
    flex-basis: 300px;
    flex-grow: 1;
}

